<%= form_for :conversation, url: :conversations do |f| %>
<ul>
  <li><%= f.text_field :recipients, class: "text_field", placeholder: "Recipient Email"  %></li>
  <li><%= f.text_field :subject, class: "text_field", placeholder: "Subject" %></li>
  <li><%= f.text_area :body, class: "text_field_big", placeholder: "Message Here!" %></li>
  
   <%= f.submit %>
    <%= link_to 'Cancel', conversations_path %>

  <% end %>
  </ul>