<div class="userconvowrap">
	<div class="userconvobody">
<h1 style='margin:0;'><%= conversation.subject %></h1>
</div>
  <%= content_tag_for(:li, conversation.receipts_for(current_user)) do |receipt| %>
     <% message = receipt.message %>
     <% if current_user.fname == receipt.message.sender.name %>

     	<p style='color: black;'>You: <%= message.body %></p>
     <% else %>
     	<p style='color: white;'><%= receipt.message.sender.name %>: <%= message.body %>
 	<% end %>
  <% end %>
<%= render '/messages/form', conversation: conversation %>
<% conversation.mark_as_read(current_user) %>
</div>
