<% if @user.errors.any? %>
	<ul>
		<% @user.errors.full_messages.each do |message| %>
			
			 <li><%= message %></li>

		<% end %>
	</ul>

<% end %>

<%= form_for @user, :html => {:multipart => true} do |f| %>
	
	<%= f.text_field :fname, class: "text_field", placeholder: "First Name" %><br />
	
	<%= f.text_field :lname, class: "text_field", placeholder: "Last Name" %><br />
	
	<%= f.email_field :email, class: "text_field", placeholder: "Email"  %><br />

	<%= f.password_field :password, class: "text_field", placeholder: "Password", value: current_user.password %><br />
	
	<%= f.text_area :bio, class: "text_field_big", placeholder: "Bio"  %><br />
	
	<%= f.file_field :avatar %>

	<%= f.submit :class => 'formbuttons'%>

	<%= link_to 'Delete Account', user_path(current_user), method: :delete %>
<% end %>