<% if @user.errors.any? %>
	<ul>
		<% @user.errors.full_messages.each do |message| %>
			
			 <li><%= message %></li>

		<% end %>
	</ul>

<% end %>

<%= form_for @user do |f| %>
	
	<%= f.text_field :fname, class: "text_field", placeholder: "First Name" %><br />
	
	<%= f.text_field :lname, class: "text_field", placeholder: "Last Name" %> <br />
	
	<%= f.email_field :email, class: "text_field", placeholder: "Email"  %><br />

	<%= f.password_field :password, class: "text_field", placeholder: "Password"%><br />

	<%= f.text_area :bio, class: "text_field_big",  placeholder: "Bio"  %><br />
	
	<%= f.file_field :avatar %> <br />

	<%= f.submit :class => 'formbuttons'%><br />
	
	<a><button type="button" class="formbuttons"><%= link_to 'Cancel', users_path %></button><br />

	
<% end %>