<% if @post.errors.any? %>
	<ul>
		<% @post.errors.full_messages.each do |message| %>
			<li> <%= message %></li>
		<% end %>
	</ul>
	
<%end%>

	<%= form_for @post do |f| %>
	

	<%= f.text_field :item, class: "text_field", placeholder: "What Did You Find?"%><br />

	<!--<%= f.text_field :location, class: "text_field", placeholder: "Where did you find it?" %><br /> -->
	


	<%= f.text_area :description, class: "text_field_big", placeholder: "Enter a description here." %><br />

	 <%= f.collection_select :airport_name, Airport.order(:name),:name, :name, include_blank: false, prompt: "Airport" %>

	<%= f.file_field :avatar %>

	<a><button type="button" class="formbuttons"><%= link_to 'Cancel', posts_path %></button></a>
	<%= f.submit :class => "formbuttons"%>

	<% end %>
