
<div class='head'>
	<h1>Latest finds!</h1>
	</div>
			<% @posts.reverse.each do |post| %>
			<ul>
			<div class="postwrapper">
					<li class="poststyling">
						<div class="posttitle">
						<%= link_to post.item, post_path(post)%> Found by: <%= post.user.fname %> on <%= post.created_at.strftime("%b. %d %Y") %> at <%= post.location %>
						</div>
						<span id ="timecreated"> </span>
						<br>
						<div class="postbodystyling">
						<%= post.description[0...1000] %>
						</div>
						<div class="postimage">
							<%= image_tag post.avatar.url %>
						</div>
						<div id="spaceme"></div>
						<p class="readmore"><%= link_to "More", post_path(post) %></p>
					</li>
						</ul>
				<% end %>
				</div>
				</div>

