
<div class='head'>
	<h1>Latest finds!</h1>
	</div>
			<% @posts.reverse.each do |post| %>
			<ul>
			<div class="postwrapper">
					<li class="poststyling">
						<div class="posttitle">
						<%= link_to post.item, post_path(post)%> 
						<% if post.user.fname == current_user.fname %>
						You found this <%= time_ago_in_words(post.created_at) %> ago at <%= link_to post.airport.name, airport_path(post.airport.id) %>
						<% else %>
						<%= link_to post.user.fname, user_path(post.user.id) %> found this <%= time_ago_in_words(post.created_at) %> ago at <%= link_to post.airport.name, airport_path(post.airport.id) %>
						<% end %>
						</div>
						<span id ="timecreated"> </span>
						<br>
						<% if post.status == "Unclaimed" %>
						<div class='poststatusun'>
							<h2><%= post.status %></h2>
						</div>
						<% else %>
							<div class='poststatus'>
								<h2><%= post.status %><h2>
							</div>
						<% end %>
						<div class="postbodystyling">
						<%= post.description[0...1000] %>
						</div>
						<div class="postimage">
							<%= image_tag post.avatar.url(:medium) %>
						</div>
						<div id="spaceme"></div>
						<% if post.status == "Unclaimed" && post.user != current_user  %>
							<p class="btn"><%= link_to "Claim", post_path(post) %></p>
						<% end %>
					</li>
						</ul>
				<% end %>
				</div>
				</div>

