<!DOCTYPE html>
<html>
<head>
  <title>FoundIt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class='nav'>
			<% if current_user != nil %>
				<h2 style='margin-top: 0px;'>Welcome <%= current_user.fname %></h2>
				<%= link_to 'Profile', user_path(current_user) %> |
				<%= link_to 'New Item', new_post_path %> |
				<%= link_to 'All Items', posts_path %> |
				<%= link_to 'All Airports', airports_path %> |
				<%= link_to 'Edit Profile', edit_user_path(current_user) %> |
				<%= link_to 'Inbox', :conversations %> |
				<%= link_to 'Sign Out', logout_path, method: :delete %>
			<% else %>
				<h2 style='margin-top: 0px;'>Welcome, Please sign in or sign up!</h2>
			<% end %>
	</div>
	<%= flash[:notice] if flash[:notice] %>
<%= yield %>

</body>
</html>
